<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/CSS/stileFormNewAuto.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Ric&Nic | ParcoAuto</title>
</head>
<body>

<div>
 
  <div class ="navbar">
  	<div class="logo">
      <img src="\Image\logo.png" width="175px"> 
  	</div>
    <nav>
     	<ul>
     		<li><a href="/">HOME</a></li>
                <li><a href="/admin/ParcoAuto">MODIFICA UN VEICOLO</a></li>
                <li><a href="/admin/formNewAuto">AGGIUNGI UN VEICOLO</a></li>
                <li>
		 <div th:if="${userDetails != null}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">LOGOUT</a>
    </div>
    <div th:if="${userDetails == null}">
        <a href="/login">LOGIN</a>
    </div></li>
     	</ul>
   </nav>
  </div>
  </div>
   <h1>Aggiungi un'auto</h1>
<form th:action="@{/admin/ParcoAuto}" method="POST" th:object="${Auto}">
      <div>
        <label for="marca">Marca:</label>
               <b><span th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></span></b>

        <input required type="text" id="marca" name="marca" th:field="${Auto.marca}" />
      </div>
      <div>
        <label for="modello">Modello:</label>
         <b><span th:if="${#fields.hasErrors('modello')}" th:errors="*{modello}"></span></b>
        <input required type="text" id="modello" name="modello" th:field="${Auto.modello}" />
      </div>
      <div>
        <label for="urlimage">URL Immagine:</label>
        <b><span th:if="${#fields.hasErrors('urlimage')}" th:errors="*{urlimage}"></span></b>

        <input type="url" id="urlimage" name="urlimage" th:field="${Auto.urlimage}" />
      </div>
      <div>
        <label for="condizioni">Condizioni:</label>
        <select id="condizioni" name="condizioni" th:field="${Auto.condizioni}">
          <option value="Nuovo">Nuovo</option>
          <option value="Usato">Usato</option>
        </select>
      </div>
      <div>
        <label for="immatricolazione">Immatricolazione:</label>
        <b><span th:if="${#fields.hasErrors('immatricolazione')}" th:errors="*{immatricolazione}"></span></b>

        <input required type="date" id="immatricolazione" name="immatricolazione" th:field="${Auto.immatricolazione}" />
      </div>
      <div>
        <label for="chilometraggio">Chilometraggio:</label>
         <b><span th:if="${#fields.hasErrors('chilometraggio')}" th:errors="*{chilometraggio}"></span></b>
        <input required type="number" id="chilometraggio" name="chilometraggio" th:field="${Auto.chilometraggio}" />
      </div>
      <div>
        <label for="alimentazione">Alimentazione:</label>
        <select id="alimentazione" name="alimentazione" th:field="${Auto.alimentazione}">
          <option value="Benzina">Benzina</option>
          <option value="Diesel">Diesel</option>
          <!-- Aggiungi altre opzioni se necessario -->
        </select>
      </div>
      <div>
        <label for="cilindrata">Cilindrata (cc):</label>
         <b><span th:if="${#fields.hasErrors('cilindrata')}" th:errors="*{cilindrata}"></span></b>
        <input required type="number" id="cilindrata" name="cilindrata" th:field="${Auto.cilindrata}" />
      </div>
      <div>
        <label for="potenza">Potenza (CV):</label>
         <b><span th:if="${#fields.hasErrors('potenza')}" th:errors="*{potenza}"></span></b>
        <input required type="number" id="potenza" name="potenza" th:field="${Auto.potenza}" />
      </div>
      <div>
        <label for="cambio">Cambio:</label>
        <select id="cambio" name="cambio" th:field="${Auto.cambio}">
          <option value="Manuale">Manuale</option>
          <option value="Automatico">Automatico</option>
        </select>
      </div>
      <div>
        <label for="colore">Colore:</label>
         <b><span th:if="${#fields.hasErrors('colore')}" th:errors="*{colore}"></span></b>
        <input required type="text"  id="colore" name="colore" th:field="${Auto.colore}" />
      </div>
      <div>
        <label for="prezzo">Prezzo (€):</label>
         <b><span th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}"></span></b>
        <input required type="number" id="prezzo" name="prezzo" th:field="${Auto.prezzo}" />
      </div>
      <div>
        <button type="submit">Conferma</button>
      </div>
    </form>
        <br> </br>
        
              
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>Chi siamo</h2>
            <p>Siamo un autoconcessionario dedicato alla soddisfazione dei nostri clienti. Offriamo una vasta gamma di veicoli di alta qualità.</p><br></br>
            <div class="contact">
                <span><i class="fas fa-map-marker-alt"></i> Via della Magliana, 370 - Roma</span>
                <span><i class="fas fa-phone"></i> 06 456789</span>
                <span><i class="fas fa-envelope"></i> info@Ric&NicAutoconcessionario.com</span>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Link utili</h2>
            <ul>
                 <li><a href="/">Home</a></li>
                <li><a href="/admin/ParcoAuto">Modifica un veicolo</a></li>
                <li><a href="/admin/formNewAuto">Aggiungi un veicolo</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h2>Seguici</h2>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Autoconcessionario | Tutti i diritti riservati
    </div>
</footer>


</body>
</html>