*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
body{
	background: radial-gradient(circle,#f0f0f0,#ffffff); /* Modifica i colori di sfumatura come desideri */
    background-size: 100% 100%; /* Imposta la dimensione dello sfondo */
    background-position: center;
}
.navbar{
	display:flex;
	align-items: center;
	padding:20px;
}
nav{
	
	flex:1;
	text-align:right;
}
nav ul{
	display:inline-block;
	list-style-type:none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color:#555;
}
p{
	color:#555;
	
}
.container{
	max_width:1300px;
	margin:auto;
	padding-left:25px;
	padding-right:25px;
}
.row{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	justify-content:space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width:100%;
	padding: 50px 0;
	border-radius: 30%;
	
}
.col-2 h1{
	height:230px;
	font-size:50px;
	line-height:60px;
	margin: -170px 0;
}
.btn{	
	display:inline-block;
	background: #ff523b;
	color:#fff;
	padding: 8px 30px;
	margin:35px 0;
	border-radius:30px;
	transition: background 0.5s;
}
.btn:hover {
	background: #563434;
}

.container2 {
background:white;	
}
.bord{
	width: 100%; /* Larghezza del contenitore */
	margin: 50px auto; /* Centra il contenitore orizzontalmente e lo sposta verso il basso di 50px */
	background-color: rgba(0, 0, 0, 0.5); /* Nero semitrasparente */
	padding: 20px; /* Spazio interno */
	border-radius: 10px; /* Bordi arrotondati */
	text-align: center; /* Centra il testo orizzontalmente */
	margin-top: 50px; /* Spazio sopra il testo */
}
.contatti {
  display: flex; /* Utilizza il layout flessibile */
  align-items: center; /* Allinea verticalmente al centro */

}

.contatti iframe {
  margin-right: 100px; /* Aggiunge spazio tra l'immagine e il testo */
  border-radius: 10px; /* Bordi arrotondati */
  
}
.contatti,
.contatti .text {
  align-self: stretch;
}

/* Regole per il footer */
.footer {
    background-color: black ;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    margin-bottom: 30px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
.slideshow-container {
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    width: 80%;
}

.slide-track {
    display: flex;
    animation: scroll 10s linear infinite;
}

.slide {
    flex: 0 0 25%; /* Adatta questo valore in base al numero di immagini che vuoi mostrare in una vista */
    margin: 0 15px; /* Aggiunge spazio a destra e a sinistra di ogni immagine */
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.slide img {
    width: 100%;
    vertical-align: top;
    display: block; /* Assicurati che l'immagine non abbia spazio extra sotto di sé */
}


.slide:hover {
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Scorre fino alla metà del track duplicato per il ciclo */
    }
}



