<!DOCTYPE html>
<html>

<head>
	<title>Ric&Nic | AutoSalone - Registrazione Effettuata </title>
	<link rel="stylesheet" href="/CSS/stileRegSucc.css" />
</head>

<body>
	
	<div class="container">
  <div class ="navbar">
  	<div class="logo">
      <img src="Image/logo.png" width="175px"/> 
  	</div>
    <nav>
     	<ul>
     			<li><a href="/">HOME</a></li>
                <li><a href="/ParcoAuto">PARCO AUTO</a></li>
                <li><a href="/chat">NOLEGGIA</a></li>
                 <li><a href="/my-account">IL MIO ACCOUNT</a></li>
                 <li>
		 <div th:if="${userDetails != null}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">LOGOUT</a>
    </div>
    <div th:if="${userDetails == null}">
        <a href="/login">LOGIN</a>
    </div></li>
     	</ul>
   </nav>
    <a href= "/my-cart" > <img src="Image/cart.png" width="30px" height="30px" /> </a>
  </div>
	</div>
  
	
	<header>
		
	</header>

	<h1>Congratulazioni ti sei registrato!</h1>
	<div class="info-box">
		<span>Nome: </span>
		<span th:text="${user.name}"></span>
	</div>
	</div><div class="info-box">
		<span>Cognome: </span>
		<span th:text="${user.surname}"></span>
	</div>
	<div class="info-box">
		<span>Email: </span>
		<span th:text="${user.email}"></span>
	</div>
</body>
</html>