<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica Auto</title>
    <link rel="stylesheet" href="/CSS/stileEdit.css">
</head>
<body>
	
	<div>
 
  <div class ="navbar">
  	<div class="logo">
      <img src="\Image\logo.png" width="175px"> 
  	</div>
    <nav>
     	<ul>
     		<li><a href="/">HOME</a></li>
                <li><a href="/admin/ParcoAuto">MODIFICA UN VEICOLO</a></li>
                <li><a href="/admin/formNewAuto">AGGIUNGI UN VEICOLO</a></li>
                <li>
		 <div th:if="${userDetails != null}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">LOGOUT</a>
    </div>
    <div th:if="${userDetails == null}">
        <a href="/login">LOGIN</a>
    </div></li>
     	</ul>
   </nav>
  </div>
  </div>
  
    <h1>Modifica Auto</h1>
  	<br> </br>
    <!-- Assicurati di usare th:action per interpretare correttamente l'URL e th:object per definire l'oggetto associato al form -->
    <form th:action="@{/admin/editAuto/{id}(id=${auto.id})}" method="post" th:object="${auto}">
    <div>
        <label>Marca:</label>
        <span th:text="*{marca}" readonly></span>
    </div>
    <div>
        <label>Modello:</label>
        <span th:text="*{modello}" readonly></span>
    </div>
    <div>
        <label>Condizioni:</label>
        <span th:text="*{condizioni}" readonly></span>
    </div>
 	<div>
        <label>URL Immagine:</label>
        <b><span th:if="${#fields.hasErrors('urlimage')}" th:errors="*{urlimage}"></span></b>
        <input type="url" id="urlimage" name="urlimage" th:value="*{urlimage}"/>
    </div>
    <div>
        <label>Immatricolazione:</label>
         <b><span th:if="${#fields.hasErrors('immatricolazione')}" th:errors="*{immatricolazione}"></span></b>
        <input type="date" id="immatricolazione" name="immatricolazione" th:value="*{immatricolazione}"/>
    </div>
    <div>
        <label>Chilometraggio:</label>
         <b><span th:if="${#fields.hasErrors('chilometraggio')}" th:errors="*{chilometraggio}"></span></b>
        <input type="number" id="chilometraggio" name="chilometraggio" th:value="*{chilometraggio}"/>
    </div>
    <div>
        <label>Alimentazione:</label>
        <span th:text="*{alimentazione}" readonly></span>
    </div>
    <div>
        <label>Cilindrata:</label>
        <span th:text="*{cilindrata}" readonly></span>
    </div>
    <div>
        <label>Potenza:</label>
        <span th:text="*{potenza}" readonly></span>
    </div>
    <div>
        <label>Cambio:</label>
        <span th:text="*{cambio}" readonly></span>
    </div>
    <div>
        <label>Colore:</label>
        <b><span th:if="${#fields.hasErrors('colore')}" th:errors="*{colore}"></span></b>
        <input type="text" id="colore" name="colore" th:value="*{colore}"/>
    </div>
    <div>
        <label>Prezzo:</label>
         <b><span th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}"></span></b>
        <input type="number" id="prezzo" name="prezzo" th:value="*{prezzo}"/>
    </div>
    <button type="submit">Salva Modifiche</button>
    
</form>

    <!-- Usa th:action per costruire dinamicamente l'URL con l'ID dell'auto -->
    <form th:action="@{/admin/deleteAuto/{id}(id=${auto.id})}" method="post">
        <button type="submit">Cancella Auto</button>
    </form>
</body>
</html>
